/* MOBILE FIRST */


@media (max-width: 700px) {

    :root {
        --layout-padding: 0px;
    }
    header{
        height: 100px;
    }

    .main-layout{
        grid-template-rows: 100px 1fr auto;
        gap: 0px;
    }

    .editor {
        flex-direction: column;
        align-items: start;
        padding: 0;
        width: 300px;
        gap: 10px;
        margin-left: 4px;
    }

    .canvas-container {
        height: 40vh;
        /* min-width: none; */
        width: 350px;
    }

    .control-section {
        width: 90vw;
        height: 300px;
        padding: 0;
    }


    .tools-section {
        height: 90px;
        width: 100%;
    }

    .share-section {
        height: 95px;
        width: 100%;
    }

    .control-title {
        font-size: 1em;
    }

    .text-input {
        height: 20px;
    }

    .control-text {
        height: 28px;
    }

    .canvas-container {
        width: 100vw;
    }

    .flexible-container {
        height: 28px;
    }

    .flexible {
        height: 25px;
    }
    .emoji{

        height: 25px;
    }

    .emoji-btn{
        height: 25px;
    }

    .main-navbar {
        background: #f4f2f2e8;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        flex-direction: column;
        justify-content: start;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.6s;
        padding-top: 128px;
    }

    .nav-btn {
        height: 60px;
        width: 100%;
    }

    .nav-btn::after {
        height: 2px;
        width: 150px;
        right: 50px;
        background: var(--clr2);
        margin-top: 30px;
    }

    header input[type=text] {
        background-color: var(--clr1);
        margin-bottom: 30px;
        width: 110px;
    }

    body.open-menu header .main-navbar {
        transform: translateX(0);
        box-shadow: -1px 1px 20px rgb(0 0 0 / 50%);
    }

    .menu-btn {
        visibility: visible;
        z-index: 6;
        background: #f4f2f200;
        justify-self: center;
    }

    .meme-img {
        width: 110px;
        height: 110px;
    }

    .gallery {
        gap: 7px
    }

    .btn-face{
        margin: auto;
    }
}

@media (min-width: 700px) {
    :root {
        --layout-padding: 30px;
    }

}

@media (min-width: 960px) {
    :root {
        --layout-padding: 70px;
    }

    .about-modal {
        width: 70vw;
    }
}

@media (min-width: 1260px) {
    :root {
        --layout-padding: 180px;
    }

    .editor {
        display: flex;
        justify-content: space-around;
    }

    .about-modal {
        width: 60vw;
    }

}