:root {
    /* Palate */
    --clr1: #dedede;
    --clr2: #bcbbbb;
    --clr3: #818181;
    --clr4: #606060;
    --clr5: #4f4e4e;
    --clr6: #212121;

    /* Layout */
    --layout-padding: 0px;



}